# Prerequisites
*.d
*.ipch
*.suo
*.db

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk

# Precompiled Headers
*.gch
*.pch
*.qm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app
